@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

:root {
  font-size: 62.5%;

  --width: 1150px;

  --yellow: #f6d36e;
  --blue: #564cff;
  --blue-light: #2dc5fa;
  --white: #fff;
  --gray-light: #ebebea;
  --background-blue-light: #f6f8fe;
  --text-top-bar: #222;
  --text: #212529;
  --text-hover-blue: #367ac2;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--text);
}

p {
  line-height: 150%;
}

html,
body,
input,
button,
textarea {
  font-size: 1.6rem;
}

#__next {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
}
